#desc.container {
  flex-direction: column;
  margin-bottom: 2vh;
}

#search-field-form3 {
  height: 4em;
}

#give-mount-increase-btn,
#give-mount-decrease-btn {
  margin: 0 0 0 1em;
}

#number-send-form3 {
  font-size: large;
}
