<mat-tab-group #tabGroup>
  <mat-tab label="Bestellen">
    <div class="container-send-form2"></div>
    <div id="desc" class="container flex-centered">
      <h2>Bestellanzahl: {{ count }}</h2>
      <p>{{ data.item.name }} {{ data.item.measurements }}</p>
    </div>
    <div
      class="container"
      style="justify-content: space-evenly; margin-bottom: 20px;"
    >
      <button
        mat-fab
        aria-label="Add MS"
        color="warn"
        (click)="decreaseCount()"
        [disabled]="count === 1"
      >
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <button
        mat-fab
        aria-label="Add MS"
        color="primary"
        (click)="increaseCount()"
        [disabled]="
          count >= itemFurnitureGroupService.getTotalStockCount(data.item)
        "
      >
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </div>

    <div class="spacer"></div>
    <button
      class="btn-to-nextForm"
      mat-raised-button
      color="primary"
      (click)="goToStep(1)"
    >
      Weiter
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-tab>

  <mat-tab label="Tauschen">
    <div>
      <div class="container-send-form2">
        <h1 class="text-send-form2" mat-dialog-title>
          Möchtest du Möbelstücke gleich mitabgeben?
        </h1>
      </div>
      <div class="btn-send-form2" *ngIf="switchStatus === 0">
        <button
          mat-raised-button
          class="btn-question-sendform2"
          color="primary"
          aria-label="Nein, Weiter"
          (click)="goToStep(2)"
        >
          Nein, Weiter
          <mat-icon>arrow_forward</mat-icon>
        </button>

        <button
          class="btn-question-sendform2"
          mat-raised-button
          aria-label="ja"
          color="warn"
          (click)="haveItemToSend()"
        >
          Abgeben
          <mat-icon>swap_horizontal_circle</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="switchStatus === 1" [@enterAnimation]>
      <div class="container-send-form3">
        <div class="mount-to-give">
          <mat-label class="mount-to-give-label">
            Anzahl der abzugebenden Möbelstücke:
            <h2>{{ toGivecount }}</h2>
          </mat-label>
          <div class="btn-count-to-give">
            <button
              id="give-mount-increase-btn"
              mat-fab
              aria-label="Add MS"
              color="warn"
              (click)="furnitureToGiveDecreaseCount()"
              [disabled]="toGivecount === 1"
            >
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <button
              mat-fab
              id="give-mount-decrease-btn"
              aria-label="Add MS"
              color="primary"
              (click)="furnitureToGiveIncreaseCount()"
            >
              <mat-icon>arrow_drop_up</mat-icon>
            </button>
          </div>
        </div>
        <h3>Entweder Möbelstück auswählen</h3>

        <mat-form-field>
          <mat-label>Möbelstück auswählen</mat-label>
          <mat-select
            [(ngModel)]="searchObj"
            [(value)]="selectedNewItem"
            (valueChange)="selectionChanged()"
          >
            <input
              id="search-field-form3"
              matInput
              placeholder="  Suche nach Name, Maße oder Beschreibung... "
              (keyup)="onKey($event.target.value)"
            />
            <mat-option [value]="dataArray"></mat-option>
            <mat-option *ngFor="let data of dataArray" [value]="data"
              >{{ data.name }} &nbsp; &nbsp; {{ data.measurements }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <h3>oder die Kurzbeschreibung angeben</h3>

        <mat-form-field [style.color]="'black'">
          <mat-label>Name</mat-label>
          <textarea
            matInput
            [(ngModel)]="nameForNewItem"
            (ngModelChange)="updateMailToSend()"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="2"
          ></textarea>
        </mat-form-field>

        <mat-form-field [style.color]="'black'">
          <mat-label>Kurzbeschreibung</mat-label>
          <textarea
            matInput
            [(ngModel)]="deskriptionForNewItem"
            (ngModelChange)="updateMailToSend()"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>

        <mat-form-field [style.color]="'black'">
          <mat-label>Maße</mat-label>
          <textarea
            matInput
            [(ngModel)]="mesurementsForNewItem"
            (ngModelChange)="updateMailToSend()"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="1"
          ></textarea>
        </mat-form-field>
      </div>
      <button
        *ngIf="switchStatus === 1"
        class="btn-send-form-back"
        mat-raised-button
        color="accent"
        (click)="turnBack(0)"
      >
        Zurück
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        *ngIf="switchStatus === 1"
        class="btn-to-nextForm"
        mat-raised-button
        color="primary"
        (click)="goToStep(2)"
      >
        Weiter
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Bemerkung">
    <div class="container-send-form3">
      <mat-form-field>
        <mat-label>Wunschtermin</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="dateToPickup"
          (ngModelChange)="updateMailToSend()"
          (focus)="picker.open()"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field [style.color]="'black'">
        <mat-label>Mail</mat-label>
        <textarea
          matInput
          [disabled]="true"
          [(ngModel)]="mailToSend"
          cdkTextareaAutosize
          cdkAutosizeMinRows="7"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
      <button
        class="send-form-btn"
        mat-raised-button
        color="primary"
        (click)="onReservationButtonClicked()"
      >
        <mat-icon>send</mat-icon>
        E Mail verfassen
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
