<div class="create-container">
  <form [formGroup]="firstFormCategory">
    <ng-template matStepLabel>Bild</ng-template>
    <div class="upload-btn-wrapper-category">
      <button
        mat-button
        *ngIf="imageCategoryPreviewPath.length <= 0"
        class="uploadbtn"
      >
        {{ 'app.global.button.upload' | translate }}
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <img
        *ngIf="imageCategoryPreviewPath.length > 0"
        [src]="imageCategoryPreviewPath"
      />

      <input type="file" (change)="uploadImage($event)" name="myfile" />
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="uploadService.percentage | async"
    ></mat-progress-bar>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required />
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Beschreibung"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    class="save-btn-create-category-lagerort"
    color="primary"
    [disabled]="!this.firstFormCategory.valid"
    (click)="submitCategory()"
  >
    Speichern
  </button>
</div>
