<div class="main">
  <div class="white-background-container">
    <div class="info-text">
      <img src="../../../../assets/png/fuchs.png" />
      <div>
        <h2>Einstellungen</h2>
        <p>
          Wenn ein Mitarbeiter etwas bestellen möchte, wird diese Bestellung an
          die hier hinterlegte Emailadresse gesendet.
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="settingsForm" class="form-wrapper">
      <form [formGroup]="settingsForm">
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Emailadresse des Zielkontakts"
            formControlName="emailContact"
            required
          />
        </mat-form-field>
      </form>

      <button
        mat-raised-button
        class="save-btn-create-category-lagerort"
        color="primary"
        [disabled]="!this.settingsForm.valid"
        (click)="submitSettings()"
      >
        Speichern
      </button>
    </div>
  </div>
</div>
