<div class="create-container">
  <form [formGroup]="firstForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="colorName" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Code" formControlName="colorCode" required />
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    class="save-btn-color-create"
    color="primary"
    [disabled]="!this.firstForm.valid"
    (click)="submitColor()"
  >
    Speichern
  </button>
</div>
