<div class="furnitures-default-create-table">
  <mat-form-field class="search-bar">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suche..."
    />
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSourceRooms" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Lagerort
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            aria-label="Add MS"
            color="accent"
            (click)="popupService.openEditGroupCatRoomPopup(element, 3)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Löschen</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            class="createItem-delete-item-btn"
            aria-label="Löschen"
            color="warn"
            (click)="deleteRoom(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsRoomTable; sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsRoomTable"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
