<div class="fixActionRow">
  <h1 mat-dialog-title>
    <div class="container" *ngIf="!occupited">
      <mat-form-field class="container-reservate-filter">
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Suche"
        />
      </mat-form-field>

      <button
        mat-mini-fab
        color="primary"
        (click)="dialogRef.close({ success: false })"
      >
        <div>
          <mat-icon>close</mat-icon>
        </div>
      </button>
    </div>
  </h1>
  <div mat-dialog-content>
    <div class="furniture-groups-wrapper">
      <div class="furniture-groups-list-wrapper">
        <div
          matRipple
          class="furniture-group-ripple-container"
          (click)="onItemClick(item)"
          *ngFor="let item of groups"
        >
          <div class="furniture-groups-item-image">
            <img [src]="item.imageDownloadPath" />
          </div>
          <div class="furniture-groups-item-text">
            <h3
              class="single-line-text"
              [ngClass]="
                getTotalStockCount(item) > 0
                  ? 'single-line-text'
                  : 'single-line-text-disable'
              "
            >
              {{
                getTotalStockCount(item) > 0
                  ? item.name
                  : item.name + ' ( nicht verfügbar)'
              }}
            </h3>
            <div class="small-text furniture-group-text">
              {{ item.partnumber }} {{ item.color.colorCode }}
            </div>
            <div class="small-text furniture-group-text">
              Farbe: {{ item.color.colorName }}
            </div>
            <div class="small-text furniture-group-text">
              Maß: {{ item.measurements }}
            </div>
            <div class="small-text furniture-group-description">
              Beschreibung: {{ item.description }}
            </div>

            <div
              style="padding-top:2vh"
              class="small-text furniture-group-text"
              *ngIf="getTotalStockCount(item) > 0"
            >
              Bestand: {{ getTotalStockCount(item) }}
            </div>
            <div
              class="small-text furniture-group-text"
              *ngIf="getTotalStockCount(item) > 0"
            >
              Lager: {{ getStorageNames(item.storages) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
