<div class="main">
  <div class="page-wrapper">
    <div class="list-wrapper" *ngIf="allCatagories?.length > 0">
      <div class="info-text">
        <img src="../../../../assets/png/fuchs.png" />
        <div>
          <h2>
            Hallo, {{ userService.currentUser.userName }}, ich bin der
            Lagerfuchs!
          </h2>
          <p>
            Mit mir findest du dich in unserem Lager der HTW Berlin zurecht. So
            geht´s:
          </p>
          <ol>
            <li>wähle eine Kategorie oder nutze die Suche</li>
            <li>
              wähle das Möbelstück, welches du benötigst und stelle die Anzahl
              ein
            </li>
            <li>
              falls du Möbelstücke abzugeben hast, folge den Anweisungen im
              Tauschbereich
            </li>
            <li>
              Zum Schluss musst du nur noch einen Liefertermin auswählen und die
              Email unsere Koordinatorin verschicken. Sie meldet sich umgehend
              zurück!
            </li>
          </ol>
        </div>
      </div>
      <div
        matRipple
        class="item-container"
        (click)="onItemClick(item)"
        [class.disabled]="countGroupByCatId(item.furnitureCategoryId) === 0"
        *ngFor="let item of allCatagories"
      >
        <div class="item-image">
          <img [src]="item.imageDownloadPath" />
        </div>
        <div class="item-text">
          <h2 class="single-line-text">{{ item.name }}</h2>
          <div
            *ngIf="countGroupByCatId(item.furnitureCategoryId) > 1"
            class="single-line-text small-text "
          >
            {{ countGroupByCatId(item.furnitureCategoryId) }} Einträge
          </div>
          <div
            *ngIf="countGroupByCatId(item.furnitureCategoryId) === 1"
            class="single-line-text small-text "
          >
            {{ countGroupByCatId(item.furnitureCategoryId) }} Eintrag
          </div>
          <div
            *ngIf="countGroupByCatId(item.furnitureCategoryId) === 0"
            class="single-line-text small-text "
          >
            Diese Kategorie ist aktuell leer.
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!allCatagories || allCatagories.length === 0"
      class="spinner-container"
    >
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <button
    *ngIf="userService.isStorageWorker()"
    mat-fab
    aria-label="Add MS"
    id="add-button"
    color="primary"
    (click)="router.navigate(['inventory'])"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
