@mixin app-inventory($theme) {
  //  $colors: map-get($theme, colors);

  app-inventory {
    #search-field-form4 {
      height: 4em;
    }

    .search-bar {
      width: 100%;
    }

    .flex-createRoom {
      width: fit-content;
      display: flex;
      flex-direction: column;
    }

    .createItem-delete-item-btn {
      margin-left: 1vw;
    }

    .upload-btn-wrapper,
    .upload-btn-wrapper-category {
      margin: 4vh 0 4vh 0;
      position: relative;
      width: 100%;
      display: flex;
      overflow: hidden;
      justify-content: center;

      img {
        height: 250px;
        align-self: center;
      }
    }

    .create-container {
      margin: 1vh 0 1vh 0;
      display: flex;
      justify-content: center;
      width: fit-content;
      flex-direction: column;

      button {
        width: fit-content;
        align-self: center;
      }
    }

    .tab-body {
      display: flex;
      justify-content: center;
    }

    .groupCreateShow-btn {
      margin: 2vh 0 2vh 0;
    }

    .custom-white-container {
      max-width: 1200px;
      width: 97vw;
      background-color: white;
      border-radius: 20px;
      margin: 0 auto;
      padding: 1vh 1vw;
      color: rgba(0, 0, 0, 0.87);

      mat-tab-group {
        width: 100%;
      }
    }

    .container {
      background: white;
      text-align: left;
    }

    .showAndEditBtns {
      display: flex;
      justify-content: center;
      padding: 2vh 0 2vh 0;

      button {
        margin: 0 2vw 0 2vw;
      }
    }

    .save-btn-create-category-lagerort {
      margin: 1vh 0 4vh 0;
    }

    .save-btn-color-create {
      margin: 1vh 0 4vh 0;
    }
  }
}
