@mixin app-settings($theme) {
  //  $colors: map-get($theme, colors);

  app-settings {
    .white-background-container {
      max-width: none !important;
    }

    .form-wrapper {
      width: 100%;
      text-align: right;
      margin-top: 2vh;
      margin-bottom: 2vh;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
