@mixin app-home($theme) {
  //  $colors: map-get($theme, colors);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  app-home {
    button {
      margin: 10px !important;
      max-width: 750px;
    }
  }

  app-item-list,
  app-my-cart {
    #add-button {
      position: fixed;
      right: 2vw;
      bottom: 2vh;
      background-color: mat-color($primary, 900);
    }
    #delete-button {
      right: 2vw;
      background-color: mat-color($accent, A200);
    }
    .page-wrapper {
      display: flex;
      width: 100%;
      .list-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 900px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }

        .info-text {
          background-color: white;
          margin: 2vh 2vw;
          padding: 2vh 2vw;
          width: 98vw;

          @media only screen and (min-width: 900px) {
            border-radius: 10px;
          }
        }
        .item-container {
          transition: 0.2s ease;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0.3vh 1vw;
          background-color: white;

          @media only screen and (min-width: 900px) {
            margin: 1vw;
            width: 30vw;
            border-radius: 10px;
          }

          .item-image {
            img {
              height: 180px;
              display: block;

              @media only screen and (min-width: 900px) {
                height: 220px;
              }
            }
          }
          .item-text {
            width: 100%;
            text-align: center;
            padding-bottom: 1vh;
          }
          &.disabled {
            opacity: 0.5;
          }
        }
        .item-container:hover:not(.disabled) {
          background-color: mat-color($primary);
          -webkit-box-shadow: 0px 0px 20px 0px mat-color($primary);
          -moz-box-shadow: 0px 0px 20px 0px mat-color($primary);
          box-shadow: 0px 0px 20px 0px mat-color($primary);
          cursor: pointer;
        }
      }
    }
  }
}
