<div class="fixActionRow">
  <h1 mat-dialog-title style="text-align: right">
    <button mat-mini-fab color="primary" (click)="dialogRef.close()">
      <div>
        <mat-icon>close</mat-icon>
      </div>
    </button>
  </h1>
  <div mat-dialog-content>
    <div id="desc" class="container flex-centered">
      <h2>{{ data.item.partnumber }} Bestand: {{ count }}</h2>
      <h2>Lagerort: {{ data.store.name }}</h2>
      <p>{{ data.item.name }} {{ data.item.measurements }}</p>
      <p>{{ data.item.description }}</p>
    </div>
    <div
      class="container"
      style="justify-content: space-evenly; margin-bottom: 20px;"
    >
      <button
        mat-fab
        aria-label="Add MS"
        color="warn"
        (click)="decreaseCount()"
      >
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <button
        mat-fab
        aria-label="Add MS"
        color="primary"
        (click)="increaseCount()"
      >
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </div>
  </div>
  <div class="spacer"></div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSave()">
      Speichern
    </button>
  </div>
</div>
