<div class="table-container">
  <mat-form-field class="search-bar">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suche..."
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="partnumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Artikelnummer
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.partnumber }}-{{ element.color.colorCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Farbe
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.color.colorName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="measurements">
      <th mat-header-cell *matHeaderCellDef>
        Maß
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.measurements }}
      </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>
        Bestand
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          aria-label="Add MS"
          color="primary"
          (click)="popupService.openItemsDetailPopup(element)"
        >
          {{ itemsGroupService.getTotalStockCount(element) }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          aria-label="Add MS"
          color="accent"
          (click)="popupService.openEditGroupCatRoomPopup(element, 1)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Löschen</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="createItem-delete-item-btn"
          mat-mini-fab
          aria-label="Löschen"
          color="warn"
          (click)="deleteGroup(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  ></mat-paginator>
</div>
