<div class="fixActionRow">
  <h1 mat-dialog-title>{{ data.item.name || data.item.name }}</h1>
  <div mat-dialog-content>
    <!--    GROUP-->
    <div *ngIf="typeOfEdit === 1">
      <form [formGroup]="groupForm" class="container">
        <div class="upload-btn-wrapper">
          <button *ngIf="imagePreviewPath.length <= 0" class="uploadbtn">
            {{ 'app.global.button.upload' | translate }}
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <img *ngIf="imagePreviewPath.length > 0" [src]="imagePreviewPath" />
          <input type="file" (change)="uploadPic($event, 1)" name="myfile" />
          <mat-progress-bar
            mode="determinate"
            [value]="uploadService.percentage | async"
          ></mat-progress-bar>
        </div>

        <div class="edit-inputs">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Artikelnummer"
              formControlName="partnumber"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              placeholder="Maß"
              formControlName="measurements"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Farbe</mat-label>
            <mat-select formControlName="color" [compareWith]="compareFn">
              <mat-option
                *ngFor="let color of colorService.colors"
                [value]="color"
              >
                {{ color.colorName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <textarea
              matInput
              placeholder="Beschreibung"
              formControlName="description"
              required
            >
            </textarea>
          </mat-form-field>
        </div>
      </form>
      <div class="save-edit-btn">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.groupForm.valid"
          (click)="submit(1)"
        >
          Speichern
        </button>
      </div>
    </div>

    <!--    CATEGORY-->

    <div *ngIf="typeOfEdit === 2">
      <form [formGroup]="categoryForm" class="container">
        <div class="upload-btn-wrapper">
          <button
            *ngIf="imageCategoryPreviewPath.length <= 0"
            class="uploadbtn"
          >
            {{ 'app.global.button.upload' | translate }}
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <img
            *ngIf="imageCategoryPreviewPath.length > 0"
            [src]="imageCategoryPreviewPath"
          />
          <input type="file" (change)="uploadPic($event, 2)" name="myfile" />
          <mat-progress-bar
            mode="determinate"
            [value]="uploadService.percentage | async"
          ></mat-progress-bar>
        </div>

        <div class="edit-inputs">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <textarea
              matInput
              placeholder="Beschreibung"
              formControlName="description"
              required
            >
            </textarea>
          </mat-form-field>
        </div>
      </form>
      <div class="save-edit-btn">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.categoryForm.valid"
          (click)="submit(2)"
        >
          Speichern
        </button>
      </div>
    </div>
    <!--    Stores -->

    <div *ngIf="typeOfEdit === 3">
      <form [formGroup]="storageForm" class="container">
        <div class="edit-inputs">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
          </mat-form-field>
        </div>
      </form>
      <div class="save-edit-btn">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.storageForm.valid"
          (click)="submit(3)"
        >
          Speichern
        </button>
      </div>
    </div>

    <!--    Color-->
    <div *ngIf="typeOfEdit === 4">
      <form [formGroup]="colorForm" class="container">
        <div class="edit-inputs">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              formControlName="colorName"
              required
            />
          </mat-form-field>
        </div>
        <div class="edit-inputs">
          <mat-form-field>
            <input
              matInput
              placeholder="Code"
              formControlName="colorCode"
              required
            />
          </mat-form-field>
        </div>
      </form>
      <div class="save-edit-btn">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!this.colorForm.valid"
          (click)="submit(4)"
        >
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>
