<div class="main">
  <div class="white-background-container">
    <div class="info-text">
      <img src="../../../../assets/png/fuchs.png" />
      <div>
        <h2>Nutzerverwaltung</h2>
        <p>
          Wenn du diese Seite sehen kannst, bist du ein Lagerkoordinator. Du
          kannst hier anderen Nutzer die Rolle des Lagerkoordinators geben.
          Diese erhalten dann die gleichen Rechte wie du.
        </p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Suche..."
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Fullname Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.view.usermgmt.table.cols.fullname' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <!-- Mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.view.usermgmt.table.cols.mail' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.userEmail }}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'app.view.usermgmt.table.cols.role' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-select
            [(value)]="+element.role"
            (valueChange)="roleChange($event, element)"
          >
            <mat-option *ngFor="let role of roleList" [value]="role.id">
              {{ role.name | translate }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
