<div class="category-create-table">
  <mat-form-field class="search-bar">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suche..."
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSourceCat" class="mat-elevation-z8">
    <ng-container matColumnDef="catName">
      <th mat-header-cell *matHeaderCellDef>
        Kategorie
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          aria-label="Add MS"
          color="accent"
          (click)="popupService.openEditGroupCatRoomPopup(element, 2)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Löschen</th>
      <td mat-cell *matCellDef="let element">
        <button
          class="createItem-delete-item-btn"
          mat-mini-fab
          aria-label="Löschen"
          color="warn"
          (click)="deleteCat(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumnsCatTable; sticky: true"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsCatTable"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  ></mat-paginator>
</div>
