<div class="fixActionRow">
  <h1 mat-dialog-title style="text-align: right">
    <button mat-mini-fab color="primary" (click)="dialogRef.close()">
      <div>
        <mat-icon>close</mat-icon>
      </div>
    </button>
  </h1>
  <div mat-dialog-content>
    <div class="furniture-groups-wrapper">
      <div class="furniture-groups-list-wrapper">
        <div
          matRipple
          class="furniture-group-ripple-container"
          (click)="onItemClick(store)"
          *ngFor="let store of group.storages"
        >
          <div class="furniture-groups-item-image">
            <img [src]="group.imageDownloadPath" />
          </div>
          <div class="furniture-groups-item-text">
            <h3 class="single-line-text">Lager: {{ store.name }}</h3>
            <h3 class="single-line-text">Bestand: {{ store.stock }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
