<div class="color-default-create-table">
  <mat-form-field class="search-bar">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suche..."
    />
  </mat-form-field>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSourceColors"
      matSort
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="colorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Farbe
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.colorName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="colorCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Code
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.colorCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Bearbeiten</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            aria-label="edit"
            color="accent"
            (click)="popupService.openEditGroupCatRoomPopup(element, 4)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Löschen</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            class="createItem-delete-item-btn"
            aria-label="Löschen"
            color="warn"
            (click)="deleteColor(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumnsColorsTable; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsColorsTable"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
