<mat-sidenav-container
  class="example-container"
  *ngIf="!current.loading; else loading"
>
  <mat-sidenav
    *ngIf="userService.isUserLoggedIn()"
    #sidenav
    mode="push"
    [(opened)]="header.navBarOpend"
  >
    <div class="image-container-main-menu">
      <img src="./../assets/png/fuchs.png" />
    </div>
    <div class="sidenav-container">
      <div class="sidenav-menu-buttons">
        <button
          mat-stroked-button
          (click)="goTo('home')"
          [color]="isActivatedRoute('home')"
        >
          <div>
            <mat-icon>widgets</mat-icon>
            <span>{{ 'app.navbar.home' | translate }}</span>
          </div>
        </button>
        <button
          *ngIf="userService.isStorageWorker()"
          mat-stroked-button
          (click)="goTo('inventory')"
          [color]="isActivatedRoute('inventory')"
        >
          <div>
            <mat-icon>add</mat-icon>
            <span>{{ 'app.navbar.add-furniture-object' | translate }}</span>
          </div>
        </button>

        <button
          *ngIf="userService.isStorageWorker()"
          mat-stroked-button
          (click)="goTo('usermgmt')"
          [color]="isActivatedRoute('usermgmt')"
        >
          <div>
            <mat-icon>supervisor_account</mat-icon>
            <span>{{ 'app.navbar.usermgmt' | translate }}</span>
          </div>
        </button>

        <button
          *ngIf="userService.isStorageWorker()"
          mat-stroked-button
          (click)="goTo('settings')"
          [color]="isActivatedRoute('settings')"
        >
          <div>
            <mat-icon>settings</mat-icon>
            <span>Einstellungen</span>
          </div>
        </button>

        <button
          *ngIf="userService.isUserLoggedIn()"
          type="button"
          mat-stroked-button
          color="warn"
          (click)="signOut()"
        >
          <div>
            <mat-icon>power_settings_new</mat-icon>
            <span>{{ 'app.navbar.logout' | translate }}</span>
          </div>
        </button>
      </div>
    </div>

    <div class="image-container-main-menu">
      <img src="./../assets/png/htw.jpg" />
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="fixed-header" [class.hide]="!userService.isUserLoggedIn()">
      <button
        class="nav-header"
        matRipple
        (click)="header.navBarOpend = !header.navBarOpend"
      >
        <div class="menu-logo-wrapper">
          <mat-icon>menu</mat-icon>
        </div>
        <div id="navbar-title">
          <span>{{ header.title }}</span>
        </div>
      </button>

      <div class="left-buttons">
        <button
          id="search-button"
          mat-fab
          *ngIf="router.isActive('home', true)"
          color="primary"
          (click)="openFilter()"
        >
          <div>
            <mat-icon>search</mat-icon>
          </div>
        </button>
      </div>
    </div>
    <div id="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
  <div id="loading" class="container flex-centered">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
