<div class="fixActionRow">
  <h1 mat-dialog-title>
    <div style="display: flex; justify-content: center">Registrieren</div>
  </h1>

  <div mat-dialog-content>
    <form [formGroup]="regisForm" class="regis-form">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Vollständiger Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="fullname"
          class="form-control"
          required
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          type="email"
          formControlName="text"
          class="form-control"
          required
        />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{ 'app.view.login.label.password' | translate }}</mat-label>
        <input
          matInput
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="********"
          required
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!regisForm.valid"
        (click)="tryRegis()"
      >
        <div class="spinner-and-button-container">
          <mat-spinner class="small" color="accent" *ngIf="showButtonLoading">
          </mat-spinner>
          Registrieren
        </div>
      </button>
    </form>
  </div>
</div>
