<div class="create-container">
  <form [formGroup]="firstFormStorage">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" required />
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    class="save-btn-create-category-lagerort"
    color="primary"
    [disabled]="!firstFormStorage.valid"
    (click)="submitRoom()"
  >
    Speichern
  </button>
</div>
