<div class="create-container">
  <mat-vertical-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Bild</ng-template>
        <div class="upload-btn-wrapper">
          <button *ngIf="imagePreviewPath.length <= 0" class="uploadbtn">
            {{ 'app.global.button.upload' | translate }}
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <img *ngIf="imagePreviewPath.length > 0" [src]="imagePreviewPath" />

          <input type="file" (change)="uploadImage($event)" name="myfile" />
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="uploadService.percentage | async"
        ></mat-progress-bar>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Produktinformationen</ng-template>
        <div class="categorie-create-select">
          <div class="categorie-create-select-textfield">
            <button
              class="categorie-create-select-btn"
              mat-raised-button
              color="primary"
              (click)="categoryOnCreate()"
            >
              Kategorie erstellen
            </button>
          </div>
          <h4 class="categorie-create-select-text">oder</h4>
          <mat-form-field class="categorie-create-select-selectbox">
            <mat-label>Katagorie auswählen</mat-label>
            <mat-select
              formControlName="furnitureCategoryId"
              [(value)]="selectedCategory"
            >
              <input
                id="search-field-form4"
                matInput
                placeholder="Suche nach Name oder Beschreibung... "
                (keyup)="onKey($event.target.value)"
              />
              <mat-option
                *ngFor="let data of categorieSearchResults"
                [value]="data.furnitureCategoryId"
                >{{ data.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            matInput
            placeholder="Artikelnummer"
            formControlName="partnumber"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Maße"
            formControlName="measurements"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Farbe</mat-label>
          <mat-select formControlName="color">
            <mat-option
              *ngFor="let color of colorService.colors"
              [value]="color"
            >
              {{ color.colorName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            placeholder="Beschreibung"
            formControlName="description"
            required
          ></textarea>
        </mat-form-field>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!(this.firstFormGroup.valid && this.secondFormGroup.valid)"
    (click)="submit()"
  >
    Speichern
  </button>
</div>
