<div class="main">
  <div class="container flex-centered">
    <div class="white-background-container" style="color:black">
      <h2>{{ 'app.view.login.headline' | translate }}</h2>

      <form [formGroup]="loginForm">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{
            'app.view.login.label.username' | translate
          }}</mat-label>
          <input
            matInput
            type="email"
            formControlName="text"
            class="form-control"
            placeholder="max.muster@htw-berlin.de"
            required
          />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>{{
            'app.view.login.label.password' | translate
          }}</mat-label>
          <input
            matInput
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="********"
            required
          />
        </mat-form-field>
        <mat-error class="error-wrong-pw-us" *ngIf="wrongLoginStatus">
          Ungültige Anmeldedaten. Bitte versuche es noch einmal!
        </mat-error>
        <a (click)="showRegisPopup()" class="link regisLink"
          >oder registrieren Sie sich!</a
        >
        <div class="container flex-centered">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
            (click)="tryLogin()"
          >
            <div class="spinner-and-button-container">
              <mat-spinner
                class="small"
                color="accent"
                *ngIf="showButtonLoading"
              ></mat-spinner>
              {{ 'app.global.button.login' | translate }}
            </div>
          </button>
        </div>
        <a class="link pwForgotLink" (click)="showResetPasswordPopup()"
          >Password vergessen ?</a
        >
      </form>
    </div>
  </div>
</div>
