<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.text }}</p>
  <p *ngIf="data.subText" class="card-text">{{ data.subText }}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closePopup()">
    {{ data.buttonText }}
  </button>
</div>
