@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './views/app-profilecare.scss';
@import './views/app-home.scss';
@import './app/global.scss';
@import './app/menu.scss';
@import './app/dialogs.scss';
@import './views/app-inventory.scss';
@import './views/app-settings.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-htwdesign: (
  50: #f3f8ea,
  100: #e0edca,
  200: #cce1a7,
  300: #b7d584,
  400: #a7cc69,
  500: #98c34f,
  600: #90bd48,
  700: #85b53f,
  800: #7bae36,
  900: #6aa126,
  A100: #f0ffe0,
  A200: #d8ffad,
  A400: #c0ff7a,
  A700: #b4ff60,
  Background: #edf5e1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-htwdesignaccent: (
  50: #e9e9e9,
  100: #c8c8c8,
  200: #a4a4a4,
  300: #7f7f7f,
  400: #636363,
  500: #484848,
  600: #414141,
  700: #383838,
  800: #303030,
  900: #212121,
  A100: #f17d7d,
  A200: #eb4f4f,
  A400: #ff0808,
  A700: #ee0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-htwdesign, 500);
$candy-app-accent: mat-palette($md-htwdesignaccent, 500);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($md-htwdesignaccent, A700);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@include globals($candy-app-theme);
@include menu($candy-app-theme);
@include dialogs($candy-app-theme);

@include app-profilecare($candy-app-theme);
@include app-home($candy-app-theme);
@include app-inventory($candy-app-theme);
@include app-settings($candy-app-theme);
