@mixin dialogs($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $colors-fore: map-get($theme, foreground);

  .mat-dialog-actions {
    justify-content: flex-end;

    button {
      margin: 4px;
    }
  }

  .spacer {
    flex-grow: 1;
  }
  app-regis-popup {
    .regis-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    button {
      width: fit-content;
      align-self: center;
    }
  }
  app-reset-password-popup {
    .reset-pw-mail-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    button {
      width: fit-content;
      align-self: center;
    }
  }
  app-edit-popup {
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 0 0 4vh 0;

      img {
        max-height: 300px;
      }
    }

    .upload-btn-wrapper input[type='file'] {
      font-size: 100px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0;
    }

    .uploadbtn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    }

    .container {
      display: flex;
    }

    .edit-inputs {
      display: flex;
      margin-left: 3vw;
      flex-direction: column;
      width: 80%;
      justify-content: center;

      input {
        color: #000000;
      }

      textarea {
        color: #000000;
      }
    }

    .save-edit-btn {
      display: flex;
      justify-content: center;
    }
  }

  app-item-create-detail-popup,
  app-inventory {
    .table-container {
      overflow: auto;
    }

    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      display: inline-block;
      margin: 0 0 4vh 0;
    }

    .upload-btn-wrapper-category {
      margin: 4vh 0 4vh 0;
      position: relative;
      overflow: hidden;
      display: inline-block;
    }

    .upload-btn-wrapper-category input[type='file'] {
      font-size: 100px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0;
    }

    .upload-btn-wrapper input[type='file'] {
      font-size: 100px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      opacity: 0;
    }

    .uploadbtn {
      border: 2px solid gray;
      color: gray;
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
    }

    .categorie-create-select {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      h4 {
        color: orange;
        font-style: italic;
      }
    }

    .categorie-create-select-textfield {
      margin: 0 2vw 0 0;

      .categorie-create-select-btn {
        font-size: x-large;
        line-height: 6vh;
      }
    }

    .categorie-create-select-selectbox {
      margin: 0 0 0 2vw;
    }

    .white-background-container {
      width: 100%;
    }

    table {
      text-align: left;
    }

    mat-form-field {
      width: 100%;
    }
  }

  app-item-reservation-popup {
    p {
      color: black;
      margin: 0;
    }

    h2 {
      color: black;
    }

    .container-send-form3 {
      margin: 1em 0 0 0;
      display: flex;
      flex-direction: column;
    }

    .container-send-form2 {
      margin: 1em 0 0 0;
      display: flex;
      justify-content: center;
    }

    .btn-question-sendform2 {
      width: 10em;
      margin: 0 2em 0 0;
    }

    .btn-to-nextForm {
      float: right;
    }

    .text-send-form2 {
      text-align: center;
    }

    .btn-send-form2 {
      display: flex;
      flex-direction: row-reverse;
    }

    .container-send-form3 h3 {
      color: orange;
      font-style: italic;
    }

    .mount-to-give {
      display: flex;
      flex-direction: row;
    }

    .send-form-btn {
      bottom: 0;
      right: 0;
    }

    .mount-to-give-label {
      height: 5em;
    }

    .btn-count-to-give {
      padding-top: 1.5em;
      right: 1em;
      position: absolute;
    }
  }

  app-super-search-popup {
    .container-reservate-filter {
      margin: 0 2vw 0 0vw;
      width: 100%;

      input {
        color: black;
      }
    }

    img {
      width: 12vw;
      height: 15vh;
      margin: 0 0 0 4vw;
    }

    .title-super-search {
      text-align: center;
      background-color: #484848;
      padding: 1vh 0 1vh 0;
      color: white;
      font-size: larger;
    }

    .furniture-groups-list-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .furniture-groups-item-text {
      margin: 0 0 0 4vw;
      display: flex;
      flex-direction: column;
      padding-bottom: 1vh;
    }

    .furniture-groups-item-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .furniture-group-description {
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-text {
      padding-bottom: 1vh;
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-ripple-container {
      border-bottom: 1px solid #585858b8;
      cursor: pointer;
      text-align: center;
      display: flex;
    }

    h1 {
      .container {
        justify-content: space-between;

        button {
          div {
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  app-item-list {
    .center-text-home {
      position: absolute;
      color: white;
      width: 100%;
      text-align: center;
      top: 0;

      @media (max-width: 561px) {
        display: none;
      }
    }
  }

  app-item-details {
    .container-reservate-filter {
      margin: 0 2vw 0 0vw;
      width: 100%;

      input {
        color: black;
      }
    }

    .furniture-groups-list-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .furniture-groups-item-text {
      margin: 0 0 0 4vw;
      display: flex;
      flex-direction: column;
      padding-bottom: 1vh;
    }

    .furniture-groups-item-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .furniture-group-description {
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-text {
      padding-bottom: 1vh;
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-ripple-container {
      margin: 0 0 3vh 0;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      display: flex;
    }

    h1 {
      .container {
        justify-content: space-between;

        button {
          div {
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }

    img {
      width: 20vw;
      max-height: 15vh;
      margin: 0 0 0 4vw;
    }
  }

  app-group-details {
    .container-reservate-filter {
      margin: 0 3vw 0 3vw;
      width: 100%;

      input {
        color: black;
      }
    }

    .furniture-groups-list-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .furniture-groups-item-text {
      margin: 0 0 0 4vw;
      display: flex;
      flex-direction: column;
      padding-bottom: 1vh;
    }

    .furniture-groups-item-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .furniture-group-description {
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-text {
      padding-bottom: 1vh;
      text-align: initial;
      padding-right: 1vw;
    }

    .furniture-group-ripple-container {
      margin: 0 0 3vh 0;
      border-radius: 20px;
      cursor: pointer;
      text-align: center;
      display: flex;
    }

    h1 {
      .container {
        justify-content: space-between;

        button {
          div {
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  app-group-details {
    img {
      width: 12vw;
      height: 15vh;
      margin: 0 0 0 4vw;
    }
  }

  app-file-upload-popup {
    .dropzone {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: calc(100% - 10px);
      border: 2px dashed mat-color($accent);
      border-radius: 5px;
      min-height: 200px;

      &.hovering {
        border: 2px solid mat-color($warn);
        color: mat-color($colors-fore, text) !important;
      }
    }

    textarea:focus,
    input:focus {
      outline: none;
    }

    .fa-upload {
      opacity: 0.8;
      margin-bottom: 40px;
    }

    button {
      margin: 4px;
    }

    .mat-dialog-content {
      height: 100%;
    }
  }
}
