@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$header-margin-bottom: 20px;
$header-height: 70px;
$header-height-mobile: 60px;

@mixin globals($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  body {
    display: block;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  img {
    object-fit: scale-down;
  }

  .info-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin: 2vh 1vw;
    min-height: 200px;

    img {
      width: 150px;
    }

    div {
      width: 60%;
    }
  }

  .main {
    display: block;
    // margin: 1vh 1vw;
    margin-top: $header-height + 10px;
    @media (max-width: 700px) {
      margin-top: $header-height-mobile + 10px;
    }

    .main-header {
      margin-bottom: 3vh;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;
    }

    .matInput {
      color: black;
    }

    table {
      margin-bottom: 3vh;
      width: 100%;
    }

    .white-background-container {
      margin: 1vh 1vw;
      padding: 2vh 1vw;
      background: white;
      border-radius: 20px;
      max-width: 900px;

      > * {
        border-radius: 20px;
      }

      .mat-raised-button {
        color: white !important;
      }
    }
  }

  .hide {
    display: none !important;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                       supported by Chrome, Opera and Firefox */
  }

  .mobile-hidden {
    background-color: mat-color($accent);
    @media (max-width: 700px) {
      display: none !important;
    }
  }

  .web-hidden {
    background-color: #0000007a;
    @media (min-width: 701px) {
      display: none !important;
    }
  }

  .left-buttons {
    button {
      margin-right: 1vw;
    }

    button:last-of-type {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 100%;
    display: flex;
  }

  .form-field {
    width: 100%;

    input {
      :focus {
        border: none;
        background-color: transparent;
      }
    }
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  .regisLink {
    float: right;
    font-style: italic;
  }

  .pwForgotLink {
    color: #98c34f;
  }

  .error-wrong-pw-us {
    margin: 1vh 0 1vh 0;
  }

  .link {
    font-weight: normal;
    font-size: small;
    cursor: pointer;
    &:hover {
      text-decoration-line: underline;
    }
  }

  .flex-centered {
    justify-content: center;
  }

  .flex-around {
    justify-content: space-around;
  }
  .flex-between {
    justify-content: space-between;
  }

  .button-container {
    display: block;
    margin-bottom: 15px;

    button {
      width: 100%;
      padding: 7px;
    }
  }

  button {
    .spinner-and-button-container {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-spinner {
        margin-right: 10px;
      }
    }
  }

  .single-line-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
  }

  .small-text {
    font-size: 12px;
    color: mat-color($accent, 400);
  }

  .single-line-text-disable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
    color: #7f7f7f;
  }

  mat-spinner {
    &.small {
      width: 25px !important;
      height: 25px !important;

      svg {
        width: 25px !important;
        height: 25px !important;
      }
    }
  }

  button {
    &.mat-primary {
      color: white !important;
    }
  }

  #loading {
    position: absolute;
    height: 100%;
    transition: background-color 0.3s ease;
  }

  .fixActionRow {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: mat-color($primary, 400);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: mat-color($primary, 600);
  }
  ::-webkit-scrollbar-thumb:active {
    background: mat-color($primary, 900);
  }
  ::-webkit-scrollbar-track {
    background: mat-color($accent);
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: mat-color($accent, 600);
  }
  ::-webkit-scrollbar-track:active {
    background: mat-color($accent, 900);
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
