@mixin menu($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // $fonts: map-get($theme, fonts);
  #router-outlet {
    width: 100%;
  }
  .mat-sidenav-container {
    transition: background-color 0.3s ease;
    height: 100vh;

    .mat-drawer-side {
      border: none;
    }

    mat-sidenav {
      /* background: linear-gradient(134deg, #000000, #5c1818);
      background-size: 400% 400%;

      -webkit-animation: menuBackground 49s ease infinite;
      -moz-animation: menuBackground 49s ease infinite;
      animation: menuBackground 49s ease infinite; */

      // background-image: url(./../../assets/image/background.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      .mat-drawer-inner-container {
        background-color: #ffffff;
        width: 330px;
      }

      .image-container-main-menu {
        position: relative;
        max-width: 150px;
        padding: 20px;
        margin: 0 auto;

        @media (max-width: 900px) {
          max-width: 200px;
        }

        img {
          width: 100%;
          height: auto;
          transition: 0.5s ease;
        }
      }

      .sidenav-container {
        padding: 15px;

        .sidenav-menu-buttons {
          button {
            display: block;
            width: 100%;
            margin: 10px 10px 10px 0px;
            padding: 10px 20px 10px 25px;
            text-align: left;
            font-size: 1em;

            div {
              display: flex;
              justify-content: space-between;
              align-items: center;

              mat-icon {
                width: 40px;
              }

              span {
                flex-grow: 1;
              }
            }

            &.mat-primary {
              color: mat-color($primary, 900) !important;
            }
          }

          #role-dropdown,
          #lang-dropdown {
            width: 100%;
          }
        }

        .footer {
          position: absolute;
          bottom: 0px;
          left: 10px;
          right: 10px;

          mat-form-field {
            width: 100%;
          }
        }
      }
    }

    mat-sidenav-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // background-color: mat-color($primary, Background);
      background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(
          #1d1d1d 25%,
          #1a1a1a 25%,
          #1a1a1a 50%,
          transparent 50%,
          transparent 75%,
          #242424 75%,
          #242424
        );
      background-color: #131313;
      background-size: 20px 20px;

      .fixed-header {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 2;
      }

      .nav-header {
        transition: all 0.3s ease-in-out;
        display: flex;
        align-content: center;
        align-items: center;
        z-index: 9999;
        height: $header-height;
        min-width: 200px;
        padding-right: 40px;
        padding-left: 20px;

        background: mat-color($primary, 900);
        color: white;
        border-radius: 0px 0px 40px 0px;
        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border: none;

        span {
          font-size: 20px;

          @media (min-width: 900px) {
            font-size: 24px;
          }
        }

        @media (max-width: 900px) {
          border-radius: 0px 0px 30px 0px;
          height: $header-height-mobile;
          min-height: $header-height-mobile;
        }

        -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);

        /* h2 {
          transition: all 0.3s ease-in-out;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0px;
          padding-left: 2vw;
          padding-right: 3vw;

          div#navbar-title {
            font-weight: 300;
            opacity: 0.9;
            flex-grow: 2;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }
        }
       */
      }
      button.nav-header:focus {
        outline: none;
      }

      .left-buttons {
        padding-right: 3vw;
        display: flex;
        z-index: 9999;
        button {
          background-color: mat-color($primary, 900);
        }
      }

      .menu-logo-wrapper {
        display: flex;
        justify-content: center;
        transition: background-color 0.3s ease;
        cursor: pointer;
        mat-icon {
          font-size: 28px;
          width: 50px;
          height: 28px;
        }
      }
    }
    @-webkit-keyframes menuBackground {
      0% {
        background-position: 0% 53%;
      }
      50% {
        background-position: 100% 48%;
      }
      100% {
        background-position: 0% 53%;
      }
    }
    @-moz-keyframes menuBackground {
      0% {
        background-position: 0% 53%;
      }
      50% {
        background-position: 100% 48%;
      }
      100% {
        background-position: 0% 53%;
      }
    }
    @keyframes menuBackground {
      0% {
        background-position: 0% 53%;
      }
      50% {
        background-position: 100% 48%;
      }
      100% {
        background-position: 0% 53%;
      }
    }
  }
}
