<div class="fixActionRow">
  <h1 mat-dialog-title>
    <div style="display: flex; justify-content: center">
      Wir senden Ihnen eine E-Mail zu, mit der Sie Ihr Passwort zurücksetzen
      können
    </div>
  </h1>

  <div mat-dialog-content>
    <form class="reset-pw-mail-form" [formGroup]="emailForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>{{ 'app.view.login.label.username' | translate }}</mat-label>
        <input
          matInput
          type="email"
          formControlName="text"
          class="form-control"
          placeholder="max.muster@htw-berlin.de"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!emailForm.valid"
        (click)="tryReset()"
      >
        <div class="spinner-and-button-container">
          <mat-spinner class="small" color="accent" *ngIf="showButtonLoading">
          </mat-spinner>
          Passwort zurücksetzen
        </div>
      </button>
    </form>
  </div>
</div>
