<div class="main">
  <div class="container flex-centered custom-white-container">
    <mat-tab-group [selectedIndex]="inventoryVS.tabIndex">
      <!--        INVENTAR-->

      <mat-tab label="Inventar">
        <div class="info-text">
          <img src="../../../../assets/png/fuchs.png" />
          <div *ngIf="showGroupTable">
            <h2>Inventar</h2>
            <p>Hier findest du alle Möbelstücke wieder. Du kannst:</p>
            <ul>
              <li>...den Bestand eines Möbelstücks einfach anpassen.</li>
              <li>...das Möbelstück verändern oder löschen.</li>
              <li>
                ...ein neues Möbelstück anlegen, drücke dafür auf das Plus
                Symbol!
              </li>
              <li>
                <b>Tipp:</b> die Tabelle ist nach Artikelnummer und Name
                sortierbar.
              </li>
            </ul>
          </div>
          <div *ngIf="!showGroupTable">
            <h2>Möbelstück anlegen</h2>
            <p>Um ein Möbelstück anzulegen musst du ein paar Dinge beachten:</p>
            <ul>
              <li>
                ...stelle sicher, dass das Lager in dem das Möbelstück ist unter
                Lagerorte angelegt wurde.
              </li>
              <li>...das Bild sollte möglichst im hellen aufgenommen werden</li>
            </ul>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="showAndEditBtns">
          <button
            mat-fab
            aria-label="Edit Room"
            [color]="showGroupTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(1, 2)"
          >
            <mat-icon>list</mat-icon>
          </button>

          <button
            mat-fab
            aria-label="Add room"
            [color]="!showGroupTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(1, 1)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>

        <app-inventory-list *ngIf="showGroupTable"></app-inventory-list>
        <div class="tab-body">
          <app-inventory-create
            *ngIf="!showGroupTable"
            (changeToInventoryList)="switchStatusOfMask(1, 2)"
          ></app-inventory-create>
        </div>
      </mat-tab>

      <mat-tab [label]="'Kategorien'">
        <div class="info-text">
          <img src="../../../../assets/png/fuchs.png" />
          <div *ngIf="showCatTable">
            <h2>Kategorien</h2>
            <p>
              Diese Kategorien werden auf der Startseite gezeigt. Sie dienen zur
              besseren Übersichtlichkeit und Sortierung.
            </p>
          </div>
          <div *ngIf="!showCatTable">
            <h2>Kategorie anlegen</h2>
            <p>
              Die Kategorie die du hier anlegst werden auf der Startseite
              gezeigt.
            </p>
            <ul>
              <li>
                Beachte, dass das Bild und der Name möglichst aussagekräftig
                sein sollten.
              </li>
            </ul>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="showAndEditBtns">
          <button
            mat-fab
            aria-label="Edit Room"
            [color]="showCatTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(2, 2)"
          >
            <mat-icon>list</mat-icon>
          </button>

          <button
            mat-fab
            aria-label="Add room"
            [color]="!showCatTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(2, 1)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>

        <app-category-list *ngIf="showCatTable"></app-category-list>
        <div class="tab-body">
          <app-category-create *ngIf="!showCatTable"></app-category-create>
        </div>
      </mat-tab>

      <!--        ROOM-->
      <mat-tab label="Lagerort" [label]="'Lagerorte'">
        <div class="info-text">
          <img src="../../../../assets/png/fuchs.png" />
          <div *ngIf="showRoomTable">
            <h2>Lagerorte</h2>
            <p>
              Lege hier deine verschiedene Lager an. Für jedes erzeugte Lager,
              kannst du den Bestand eines Artikels einzeln einstellen.
            </p>
          </div>
          <div *ngIf="!showRoomTable">
            <h2>Lagerort anlegen</h2>
            <p>Gib den gewünschten Namen unten ein und drücke speichern.</p>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="showAndEditBtns">
          <button
            mat-fab
            aria-label="Edit Room"
            [color]="showRoomTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(3, 2)"
          >
            <mat-icon>list</mat-icon>
          </button>

          <button
            mat-fab
            aria-label="Add room"
            [color]="!showRoomTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(3, 1)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>

        <app-storage-list *ngIf="showRoomTable"></app-storage-list>
        <div class="tab-body">
          <app-storage-create *ngIf="!showRoomTable"></app-storage-create>
        </div>
      </mat-tab>

      <!--        COLOR-->
      <mat-tab label="Farbe" [label]="'Farbe'">
        <div class="info-text">
          <img src="../../../../assets/png/fuchs.png" />
          <div>
            <h2>Farbe</h2>
            <p>Hier findest du alle Farben wieder. Du kannst:</p>
            <ul>
              <li>...die Farbe verändern oder löschen.</li>
              <li>
                ...eine neue Farbe anlegen, drücke dafür auf das Plus Symbol!
              </li>
              <li><b>Tipp:</b> die Tabelle ist nach Farbenname sortierbar.</li>
            </ul>
          </div>
        </div>

        <mat-divider></mat-divider>
        <div class="showAndEditBtns">
          <button
            mat-fab
            aria-label="Edit Room"
            [color]="showColorTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(4, 2)"
          >
            <mat-icon>list</mat-icon>
          </button>

          <button
            mat-fab
            aria-label="Add room"
            [color]="!showColorTable ? 'primary' : 'accent'"
            (click)="switchStatusOfMask(4, 1)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>

        <app-color-list *ngIf="showColorTable"></app-color-list>
        <div class="tab-body">
          <app-color-create *ngIf="!showColorTable"></app-color-create>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
